<html layout:decorate="~{admin_layout}">


<th:block layout:fragment="content">
	<!-- Begin Page Content -->
	<div class="container-fluid">
		<!-- Page Heading -->
		<h1 class="h3 mb-2 text-gray-800">예약 취소 리스트</h1>
		<p class="mb-4">
			DataTables is a third party plugin that is used to generate the demo
			table below. For more information about DataTables, please visit the
			<a target="_blank" href="https://datatables.net">official
				DataTables documentation</a>.
		</p>

		<!-- DataTales Example -->
		<div class="card shadow mb-4">
			<div class="card-header py-3">
				<h6 class="m-0 font-weight-bold text-primary">시설 예약 리스트</h6>
			</div>
			<div class="card-body">
				<div class="table-responsive">
					<table class="table table-bordered" width="100%" cellspacing="0">
						<thead>
							<tr>
								<th>취소 번호</th>

								<th>취소한 사람</th>

								<th>취소한 날짜</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="cancel, loop:${paging}">
							
				<td>
					<a th:href="@{|/cancelDetail/${cancel.seq}| }" 
					th:text="${cancel.seq}"> </a>
				</td> 
				<td>
					<span 
					th:if="${cancel.save_mid != null}"
					th:text="${cancel.save_mid}"> 
					</span>
				</td>
				<td type="date" th:text="${cancel.regdate}"></td>
								
							</tr>
						</tbody>
					</table>

					<!-- 페이징처리 시작 -->
					<div th:if="${!paging.isEmpty()}">
						<ul class="pagination justify-content-center">
							<li class="page-item"
								th:classappend="${!paging.hasPrevious} ? 'disabled'"><a
								href="javascript:void(0)" class="page-link"
								th:href="@{|?page=${paging.number-1}|}"> <span>이전</span>
							</a></li>

							<!-- 조건을 적용해서 현재 페이지에서 이전 5개 이후 5개  -->
							<li th:each="page: ${#numbers.sequence(0, paging.totalPages-1)}"
								th:if="${page >= paging.number-5 and page <= paging.number+5 }"
								th:classappend="${page == paging.number} ? 'active'"
								class="page-item"><a th:text="${page}" class="page-link"
								th:href="@{|?page=${page}|}"></a></li>
							<li class="page-item"
								th:classappend="${!paging.hasNext} ? 'disabled'"><a
								class="page-link" th:href="@{|?page=${paging.number+1}|}"> <span>다음</span>
							</a></li>
						</ul>
					</div>
					<!-- 페이징처리 끝 -->
				</div>
			</div>
		</div>
	</div>
	<!-- /.container-fluid -->
	<!-- End of Main Content -->

	<!-- Footer -->
	<footer class="sticky-footer bg-white">
		<div class="container my-auto">
			<div class="copyright text-center my-auto">
				<span>Copyright &copy; Your Website 2020</span>
			</div>
		</div>
	</footer>
	<!-- End of Footer -->

	<!-- Scroll to Top Button-->
	<a class="scroll-to-top rounded" href="#page-top"> <i
		class="fas fa-angle-up"></i>
	</a>

	<!-- Logout Modal-->
	<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Ready to Leave?
					</h5>
					<button class="close" type="button" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body">Select "Logout" below if you are ready
					to end your current session.</div>
				<div class="modal-footer">
					<button class="btn btn-secondary" type="button"
						data-dismiss="modal">Cancel</button>
					<a class="btn btn-primary" href="login.html">Logout</a>
				</div>
			</div>
		</div>
	</div>

</th:block>

</html>
