<html layout:decorate="~{layout2}">

<th:block layout:fragment="content">

	<link rel="stylesheet" href="css/bootstrap2.min.css" type="text/css">
	<link rel="stylesheet" href="css/flaticon2.css" type="text/css">
	<link rel="stylesheet" href="css/linearicons2.css" type="text/css">
	<link rel="stylesheet" href="css/owl.carousel2.min.css" type="text/css">
	<link rel="stylesheet" href="css/jquery-ui2.min.css" type="text/css">
	<link rel="stylesheet" href="css/nice-select2.css" type="text/css">
	<link rel="stylesheet" href="css/magnific2-popup.css" type="text/css">
	<link rel="stylesheet" href="css/slicknav2.min.css" type="text/css">
	<link rel="stylesheet" href="css/style2.css" type="text/css">
	<link rel="stylesheet" href="css/style.css" />
	<link rel="shortcut icon" type="image/x-icon"
		href="/images/favicon.png">

	<body>
		<section class="room-availability spad">
			<div class="container">
				<div class="room-check">
					<div class="row">
						<div class="col-lg-6">
							<div class="room-item">
								<div class="room-pic-slider room-pic-item owl-carousel">
									<div class="room-pic">
										<img src="/img/golf1.jpg" alt="">
									</div>
									<div class="room-pic">
										<img src="/img/golf2.jpg" alt="">
									</div>
									<div class="room-pic">
										<img src="/img/golf5.jpg" alt="">
									</div>
								</div>
							</div>
						</div>

						<br>
						<div class="col-lg-6">
							<div class="check-form">
								<h2 class="noto-sans">시설 예약</h2>
								<form th:action="@{/createFacilityReservation}" method="post"
									th:object="${facilityReservationCreateForm}">


									<div class="room-selector" for="fid">
										<p class="noto-sans">시설 번호</p>
										<select class="suit-select" name="fid" id="fid" value="fid">
											<option name="1.golf" class="noto-sans">1</option>
											<option name="2.health" class="noto-sans">2</option>
											<option name="3.restaurant" class="noto-sans">3</option>
											<option name="4.pool" class="noto-sans">4</option>
										</select>
									</div>

									<div class="room-selector" for="fid">
										<div class="date-select" for="date">
											<p class="noto-sans">예약일</p>
											<input type="date" name="date" id="date" value="">

										</div>
									</div>
									<br>

									<div class="room-quantity">
										<div class="single-quantity" for="cnt">
											<p class="noto-sans">인원</p>
											<div class="pro-qty">
												<input type="text" name="cnt" id="cnt" value="">
											</div>
										</div>

									</div>


									<button type="submit" class="noto-sans">
										예약하기 <i class="lnr lnr-arrow-right"></i>
									</button>

								</form>
							</div>
						</div>
					</div>
				</div>
				<br> <br> <br> <br> <br> <br> <br>
				<br>
				<div class="about-room">
					<div class="row">
						<div class="col-lg-10 offset-lg-1"></div>
					</div>

				</div>
			</div>
		</section>
		<!-- Room Availability Section End -->
	</body>

</th:block>

<th:block layout:fragment="script">

	<!-- Js Plugins -->
	<script src="js/jquery-3.3.1.min2.js"></script>
	<script src="js/bootstrap.min2.js"></script>
	<script src="js/jquery.magnific-popup.min2.js"></script>
	<script src="js/jquery-ui.min2.js"></script>
	<script src="js/jquery.nice-select2.min.js"></script>
	<script src="js/jquery.slicknav2.js"></script>
	<script src="js/owl.carousel2.min.js"></script>
	<script src="js/main2.js"></script>
	<script src="js/jquery.min.js"></script>
	<script src="js/jquery-migrate-3.0.1.min.js"></script>
	<script src="js/popper.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/jquery.easing.1.3.js"></script>
	<script src="js/jquery.waypoints.min.js"></script>
	<script src="js/jquery.stellar.min.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/jquery.magnific-popup.min.js"></script>
	<script src="js/aos.js"></script>
	<script src="js/jquery.animateNumber.min.js"></script>
	<script src="js/bootstrap-datepicker.js"></script>
	<script src="js/jquery.timepicker.min.js"></script>
	<script src="js/scrollax.min.js"></script>
	<script
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
	<script src="js/google-map.js"></script>
	<script src="js/main.js"></script>

</th:block>

</html>