<html layout:decorate="~{layout2}">

<th:block layout:fragment="content">


	<section class="home-slider owl-carousel">
		<div class="slider-item"
			style="background-image: url(images/view\(1\).jpg)">
			<div class="overlay"></div>
			<div class="container">
				<div
					class="row no-gutters slider-text align-items-center justify-content-center">
					<div class="col-md-12 ftco-animate text-center">
						<div class="text mb-5 pb-3 p111">
							<h1 class="p111 cinzel">CROWN HOTEL에 오신 것을 환영합니다</h1>
							<h2 class="noto-sans">호텔 및 리조트</h2>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="slider-item"
			style="background-image: url(images/view\(2\).jpg)">
			<div class="overlay"></div>
			<div class="container">
				<div
					class="row no-gutters slider-text align-items-center justify-content-center">
					<div class="col-md-12 ftco-animate text-center">
						<div class="text mb-5 pb-3">
							<h1 class="p111 cinzel">CROWN HOTEL에 오신 것을 환영합니다</h1>
							<h2 class="noto-sans">우리와 함께하세요</h2>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="slider-item"
			style="background-image: url(images/view\(3\).jpg)">
			<div class="overlay"></div>
			<div class="container">
				<div
					class="row no-gutters slider-text align-items-center justify-content-center">
					<div class="col-md-12 ftco-animate text-center">
						<div class="text mb-5 pb-3">
							<h1 class="p111 cinzel">CROWN HOTEL에 오신 것을 환영합니다</h1>
							<h2 class="noto-sans">최고의 시설, 매너</h2>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="slider-item"
			style="background-image: url(images/view\(4\).jpg)">
			<div class="overlay"></div>
			<div class="container">
				<div
					class="row no-gutters slider-text align-items-center justify-content-center">
					<div class="col-md-12 ftco-animate text-center">
						<div class="text mb-5 pb-3">
							<h1 class="p111 cinzel">CROWN HOTEL에 오신 것을 환영합니다</h1>
							<h2 class="noto-sans">차별화된 호텔</h2>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<br />
	<br />
	<br />
	<br />

	<section class="ftco-section bg-light">
		<div class="container">
			<div class="row justify-content-center mb-5 pb-3">
				<div class="col-md-7 heading-section text-center ftco-animate">
					<h2 class="mb-4">우리의 시설</h2>
				</div>
			</div>
			<div class="row">



				<div class="col-sm col-md-6 col-lg-3 ftco-animate">
					<div class="room">
						<a th:href="@{/facility_golf}"
							class="img d-flex justify-content-center align-items-center"
							style="background-image: url(img/golf4.jpg)">
							<div
								class="icon d-flex justify-content-center align-items-center">
								<span class="icon-search2"></span>
							</div>
						</a>
						<div class="text p-3 text-center">
							<h3 class="mb-3">
								<a th:href="@{/facility_golf}">골프장</a>
							</h3>
							&nbsp;
							<p>
								<span class="price mr-2">$ &nbsp;5,300</span> <span
									class="per noto-sans">하루 이용권</span>
							</p>
							<hr />
							<p class="pt-1">
								<a th:href="@{/facility_golf}" class="btn-custom">
									<ul>
										<li class="info_list noto-sans">운영 시간 : 주중 06:00~22:30 |
											주말 및 공휴일 06:00~22:00 (매월 두 번째, 네 번째 월요일 정기 휴관)</li>
										<p class="noto-sans">저희 크라운 호텔 골프장에서는 천연잔디를 전 필드에 깔아놓고 일반
											골프장 시설과 다를게 없도록 모든 장비 및 필드가 준비되어 있습니다. 저희 크라운 호텔 골프장은 1만
											5000여 평으로 투숙객, 골프장 이용 고객님들의 골프장 사용에 불편함이 없으시도록 준비되어 있는 크라운 호텔
											골프장 입니다.</p>

									</ul> <a th:href="@{/facility_golf}" class="primary-btn noto-sans">Book
										Now <i class="lnr lnr-arrow-right"></i>
								</a> <span class="icon-long-arrow-right"></span>
								</a>
							</p>
						</div>
					</div>
				</div>
				<div class="col-sm col-md-6 col-lg-3 ftco-animate">
					<div class="room">
						<a th:href="@{/facility_pool}"
							class="img d-flex justify-content-center align-items-center"
							style="background-image: url(img/swim3.jpg)">
							<div
								class="icon d-flex justify-content-center align-items-center">
								<span class="icon-search2"></span>
							</div>
						</a>
						<div class="text p-3 text-center">
							<h3 class="mb-3">
								<a th:href="@{/facility_pool}">수영장</a>
							</h3>
							&nbsp;
							<p>
								<span class="price mr-2">$ &nbsp;3,000</span> <span
									class="per noto-sans">하루 이용권</span>
							</p>
							<hr />
							<p class="pt-1">
								<a th:href="@{/facility_pool}" class="btn-custom">
									<ul>
										<li class="info_list noto-sans">운영 시간 : 주중 및 주말 06:00 ~
											21:30 (매월 두 번째, 네 번째 월요일 정기 휴관)</li>
										<li class="info_list noto-sans">깨끗한 수질관리를 위하여 샤워 후 입수
											바라며, 입수 시 수영모를 착용하여 주시기 바랍니다.</li>
										<li class="info_list noto-sans">체크아웃 당일에는 11시까지 이용 가능하며,
											이용을 원하실 경우 10시 전에 입장하여 주시기 바랍니다.</li>
										<li class="info_list noto-sans">만 13세 미만 자녀 성인풀 이용 시에는 부모
											동반 및 자유수영에 한해 이용이 가능합니다.<br> 단, 튜브 및 보호장비 착용은 불가하며 자유수영
											외 물놀이는 금지합니다.
										</li>
										<p class="noto-sans">저희 크라운 호텔에서는 하루에 8번 3시간 간격으로 물 정화 및 물
											정수 작업을 통하여 투숙객들, 수영장 이용 고객님들에게 깨끗한 수영장 이용이 가능하시도록 도와드리고 있습니다.
											또한 3000명 이상 수용 가능한 넓은 수영장에 어린이들이 놀 수 있는 키즈존과 서핑존도 준비되어 있는 크라운
											호텔 수영장 입니다.</p>

									</ul> <a th:href="@{/facility_pool}" class="primary-btn noto-sans">Book
										Now <i class="lnr lnr-arrow-right"></i>
								</a> <span class="icon-long-arrow-right"></span>
								</a>
							</p>
						</div>
					</div>
				</div>

				<div class="col-sm col-md-6 col-lg-3 ftco-animate">
					<div class="room">
						<a th:href="@{/facility_health}"
							class="img d-flex justify-content-center align-items-center"
							style="background-image: url(images/health\(3\).jpg)">
							<div
								class="icon d-flex justify-content-center align-items-center">
								<span class="icon-search2"></span>
							</div>
						</a>
						
						<div class="text p-3 text-center">
							<h3 class="mb-3">
								<a th:href="@{/facility_health}">헬스장</a>
							</h3>
							&nbsp;
							<p>
								<span class="price mr-2">$ &nbsp;1,600</span> <span
									class="per noto-sans">하루 이용권</span>
							</p>
							<hr />
							<p class="pt-1">
								<a th:href="@{/facility_health}" class="btn-custom">
									<ul>
										<li class="info_list noto-sans">운영 시간 : 주중 06:00 ~ 22:00
											| 주말 및 공휴일 06:00 ~ 21:30 (매월 두 번째, 네 번째 월요일 정기 휴관)</li>
										<li class="info_list noto-sans">체련장은 만 19세 이상부터 입장 가능합니다.</li>
										<p class="noto-sans">저희 크라운 호텔 내부에 있는 헬스장은 최신 헬스 장비 및 필라테스
											장비 등 을 준비하여 크라운 호텔 투숙객, 헬스장 이용 고객님들의 운동 및 여가를 보내시는데 전혀 불편함이
											없으시도록 준비해놓았습니다. 30여가지 이상의 다양한 운동기구를 마음껏 이용하실 수 있는 크라운 호텔 헬스장
											입니다.</p>

									</ul> <a th:href="@{/facility_health}"
									class="primary-btn noto-sans">Book Now <i
										class="lnr lnr-arrow-right"></i>
								</a> <span class="icon-long-arrow-right"></span>
								</a>
							</p>
						</div>
					</div>
				</div>

				<div class="col-sm col-md-6 col-lg-3 ftco-animate">
					<div class="room">
						<a th:href="@{/facility_restaurant}"
							class="img d-flex justify-content-center align-items-center"
							style="background-image: url(images/menu-3.jpg)">
							<div
								class="icon d-flex justify-content-center align-items-center">
								<span class="icon-search2"></span>
							</div>
						</a>
						<div class="text p-3 text-center">
							<h3 class="mb-3">
								<a th:href="@{/facility_restaurant}">식당</a>
							</h3>
							&nbsp;
							<p>
								<span class="price mr-2">$ &nbsp;2,600</span> <span
									class="per noto-sans">하루 식사권</span>
							</p>
							<hr />
							<p class="pt-1">
								<a th:href="@{/facility_restaurant}" class="btn-custom">
									<ul>
										<li class="info_list noto-sans">운영 시간 : 주중 16:00 ~ 22:00
											| 주말 및 공휴일 16:00 ~ 21:30 (매월 두 번째, 네 번째 월요일 정기 휴관)</li>
										<p class="noto-sans">CROWN HOTEL의 세련된 업스케일 뷔페 레스토랑
											'MFB'에서는 전문 셰프들이 즉석에서 선보이는 200여 가지의 요리를 경험할 수 있습니다. 아시안식, 일식,
											양식, 누들, 콜드밀(Cold Meal), 코리안 그릴, 디저트, BAR 등 8개의 라이브 섹션에서 다양한
											요리를 맛볼 수 있는 스튜디오 타입의 라이브 키친입니다.</p>

									</ul> <a th:href="@{/facility_restaurant}"
									class="primary-btn noto-sans">Book Now <i
										class="lnr lnr-arrow-right"></i>
								</a> <span class="icon-long-arrow-right"></span>
								</a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Rooms Section End -->
</th:block>


</html>
