<html layout:decorate="~{layout2}">

<th:block layout:fragment="content">
	<body>
		<main>
			<section class="home-slider owl-carousel">
				<div class="slider-item"
					style="background-image: url(images/view\(1\).jpg)">
					<div class="overlay"></div>
					<div class="container">
						<div
							class="row no-gutters slider-text align-items-center justify-content-center">
							<div class="col-md-12 ftco-animate text-center">
								<div class="text mb-5 pb-3 p111">
									<h1 class="p111 cinzel">CROWN HOTEL에 오신 것을 환영합니다</h1>
									<h2 class="noto-sans">호텔 및 리조트</h2>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="slider-item"
					style="background-image: url(images/view\(2\).jpg)">
					<div class="overlay"></div>
					<div class="container">
						<div
							class="row no-gutters slider-text align-items-center justify-content-center">
							<div class="col-md-12 ftco-animate text-center">
								<div class="text mb-5 pb-3">
									<h1 class="p111 cinzel">CROWN HOTEL에 오신 것을 환영합니다</h1>
									<h2 class="noto-sans">우리와 함께하세요</h2>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="slider-item"
					style="background-image: url(images/view\(3\).jpg)">
					<div class="overlay"></div>
					<div class="container">
						<div
							class="row no-gutters slider-text align-items-center justify-content-center">
							<div class="col-md-12 ftco-animate text-center">
								<div class="text mb-5 pb-3">
									<h1 class="p111 cinzel">CROWN HOTEL에 오신 것을 환영합니다</h1>
									<h2 class="noto-sans">최고의 시설, 매너</h2>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="slider-item"
					style="background-image: url(images/view\(4\).jpg)">
					<div class="overlay"></div>
					<div class="container">
						<div
							class="row no-gutters slider-text align-items-center justify-content-center">
							<div class="col-md-12 ftco-animate text-center">
								<div class="text mb-5 pb-3">
									<h1 class="p111 cinzel">CROWN HOTEL에 오신 것을 환영합니다</h1>
									<h2 class="noto-sans">차별화된 호텔</h2>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

			<br><br>
			<!-- END nav -->
			<section>
				<div class="container">
					<div class="hero-wrap"
						style="background-image: url('images/bg_1.jpg')">
						<div class="container">
							<div>
								<div
									class="col-md-12 ftco-animate text-center align-items-end justify-content-center">
									<div class="text text-center">
										<br>
										<h1 class="mb-4 bread noto-sans text-center">문의 게시판</h1>
									</div>
								</div>
								<div class="card-body">
									<div class="table-responsive">
										<div>
											<table class="table">
												<thead>
													<tr>
														<th class="text-center noto-sans">번호</th>
														<th width="50%" class="text-center noto-sans">제목</th>
														<th class="text-center noto-sans">작성자</th>
														<th class="text-center noto-sans">작성일</th>
													</tr>
												</thead>
												<tbody>
													<tr th:each="question, loop:${paging}">
														<td class="text-center" th:text="${question.qid}"></td>
														<td class="text-center"><a th:href="@{|/detail/${question.qid}|}"
															th:text="${question.title}"></a></td>
														<td class="text-center" th:text="${question.member.mid}"></td>
														<td class="text-center" th:text="${#temporals.format(question.regdate, 'yyyy-MM-dd HH:mm')}"></td>
													</tr>
												</tbody>
											</table>

											<!-- 페이징처리 시작 -->
											<div th:if="${!paging.isEmpty()}">
												<ul class="pagination justify-content-center">
													<li class="page-item"
														th:classappend="${!paging.hasPrevious} ? 'disabled'"><a
														href="javascript:void(0)" class="page-link"
														th:href="@{|?page=${paging.number-1}|}"> <span>이전</span>
													</a></li>

													<!-- 조건을 적용해서 현재 페이지에서 이전 5개 이후 5개  -->
													<li
														th:each="page: ${#numbers.sequence(0, paging.totalPages-1)}"
														th:if="${page >= paging.number-5 and page <= paging.number+5 }"
														th:classappend="${page == paging.number} ? 'active'"
														class="page-item"><a th:text="${page}"
														class="page-link" th:href="@{|?page=${page}|}"></a></li>
													<li class="page-item"
														th:classappend="${!paging.hasNext} ? 'disabled'"><a
														class="page-link" th:href="@{|?page=${paging.number+1}|}">
															<span>다음</span>
													</a></li>
												</ul>
											</div>

										</div>
										<div class="d-flex flex-row-reverse">
											<a th:href="@{/insertCs}" class="btn">문의하기</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			
			<br><br><br><br><br><br><br><br><br>
			<br><br><br><br><br><br><br><br><br>
			
			<section class="instagram pt-5">
				<div class="container-fluid">
					<div class="row no-gutters justify-content-center pb-5">
						<div class="col-md-7 text-center heading-section ftco-animate">
							<h2>
								<span>Instagram</span>
							</h2>
						</div>
					</div>
					<div class="row no-gutters">
						<div class="col-sm-12 col-md ftco-animate">
							<a href="images/insta-1.jpg" class="insta-img image-popup"
								style="background-image: url(images/insta-1.jpg)">
								<div class="icon d-flex justify-content-center">
									<span class="icon-instagram align-self-center"></span>
								</div>
							</a>
						</div>
						<div class="col-sm-12 col-md ftco-animate">
							<a href="images/insta-2.jpg" class="insta-img image-popup"
								style="background-image: url(images/insta-2.jpg)">
								<div class="icon d-flex justify-content-center">
									<span class="icon-instagram align-self-center"></span>
								</div>
							</a>
						</div>
						<div class="col-sm-12 col-md ftco-animate">
							<a href="images/insta-3.jpg" class="insta-img image-popup"
								style="background-image: url(images/insta-3.jpg)">
								<div class="icon d-flex justify-content-center">
									<span class="icon-instagram align-self-center"></span>
								</div>
							</a>
						</div>
						<div class="col-sm-12 col-md ftco-animate">
							<a href="images/insta-4.jpg" class="insta-img image-popup"
								style="background-image: url(images/insta-4.jpg)">
								<div class="icon d-flex justify-content-center">
									<span class="icon-instagram align-self-center"></span>
								</div>
							</a>
						</div>
						<div class="col-sm-12 col-md ftco-animate">
							<a href="images/insta-5.jpg" class="insta-img image-popup"
								style="background-image: url(images/insta-5.jpg)">
								<div class="icon d-flex justify-content-center">
									<span class="icon-instagram align-self-center"></span>
								</div>
							</a>
						</div>
					</div>
				</div>
			</section>
		</main>
	</body>
</th:block>


</html>
