<html layout:decorate="~{layout2}">

<th:block layout:fragment="content">

	<section class="home-slider owl-carousel">
		<div class="slider-item"
			style="background-image: url(images/view\(1\).jpg)">
			<div class="overlay"></div>
			<div class="container">
				<div
					class="row no-gutters slider-text align-items-center justify-content-center">
					<div class="col-md-12 ftco-animate text-center">
						<div class="text mb-5 pb-3">
							<h1 class="mb-3">CROWN HOTEL에 오신 것을 환영합니다</h1>
							<h2>호텔 및 리조트</h2>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="slider-item"
			style="background-image: url(images/view\(2\).jpg)">
			<div class="overlay"></div>
			<div class="container">
				<div
					class="row no-gutters slider-text align-items-center justify-content-center">
					<div class="col-md-12 ftco-animate text-center">
						<div class="text mb-5 pb-3">
							<h1 class="mb-3">CROWN HOTEL에 오신 것을 환영합니다</h1>
							<h2>우리와 함께하세요</h2>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="slider-item"
			style="background-image: url(images/view\(3\).jpg)">
			<div class="overlay"></div>
			<div class="container">
				<div
					class="row no-gutters slider-text align-items-center justify-content-center">
					<div class="col-md-12 ftco-animate text-center">
						<div class="text mb-5 pb-3">
							<h1 class="mb-3">CROWN HOTEL에 오신 것을 환영합니다</h1>
							<h2>최고의 시설, 매너</h2>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="slider-item"
			style="background-image: url(images/view\(4\).jpg)">
			<div class="overlay"></div>
			<div class="container">
				<div
					class="row no-gutters slider-text align-items-center justify-content-center">
					<div class="col-md-12 ftco-animate text-center">
						<div class="text mb-5 pb-3">
							<h1 class="mb-3">CROWN HOTEL에 오신 것을 환영합니다</h1>
							<h2>차별화된 호텔</h2>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<br />
	<br />

	<section class="ftco-booking">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<form action="#" class="booking-form">
						<div class="row">
							<div class="col-md-3 d-flex">
								<div
									class="form-group p-4 align-self-stretch d-flex align-items-end">
									<div class="wrap lora-uniquifier">
										<label for="#">Check-In Date</label> <input type="text"
											class="form-control checkin_date" placeholder="체크인 날짜" />
									</div>
								</div>
							</div>
							<div class="col-md-3 d-flex">
								<div
									class="form-group p-4 align-self-stretch d-flex align-items-end">
									<div class="wrap lora-uniquifier">
										<label for="#">Check-Out Date</label> <input type="text"
											class="form-control checkout_date" placeholder="체크아웃 날짜" />
									</div>
								</div>
							</div>
							<div class="col-md d-flex">
								<div
									class="form-group p-4 align-self-stretch d-flex align-items-end">
									<div class="wrap lora-uniquifier">
										<label for="#">Type</label>
										<div class="form-field">
											<div class="select-wrap">
												<div class="icon">
													<span class="ion-ios-arrow-down"></span>
												</div>
												<select name="" id="" class="form-control">
													<option value="">스위트</option>
													<option value="">패밀리룸</option>
													<option value="">디럭스룸</option>
													<option value="">클래식룸</option>
													<option value="">슈페리어룸</option>
													<option value="">럭셔리룸</option>
												</select>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md d-flex">
								<div
									class="form-group p-4 align-self-stretch d-flex align-items-end">
									<div class="wrap lora-uniquifier">
										<label for="#">Adult</label>
										<div class="form-field">
											<div class="select-wrap">
												<div class="icon">
													<span class="ion-ios-arrow-down"></span>
												</div>
												<select name="" id="" class="form-control">
													<option value="">성인 1명</option>
													<option value="">성인 2명</option>
													<option value="">성인 3명</option>
													<option value="">성인 4명</option>
													<option value="">성인 5명</option>
													<option value="">성인 6명</option>
												</select>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="col-md d-flex">
								<div class="form-group d-flex align-self-stretch">
									<input type="submit" value="Check Availability"
										class="btn btn-primary py-3 px-4 align-self-stretch lora-uniquifier" />
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>

	<section class="ftco-section ftc-no-pb ftc-no-pt">
		<div class="container">
			<div class="row">
				<div
					class="col-md-5 p-md-5 img img-2 d-flex justify-content-center align-items-center"
					style="background-image: url(images/person\(7\).jpg)">
					<a href="https://vimeo.com/45830194"
						class="icon popup-vimeo d-flex justify-content-center align-items-center">
						<span class="icon-play"></span>
					</a>
				</div>
				<div class="col-md-7 py-5 wrap-about pb-md-5 ftco-animate">
					<div
						class="heading-section heading-section-wo-line pt-md-5 pl-md-5 mb-5">
						<div class="ml-md-0">
							<span class="subheading">크라운 호텔</span>
							<h2 class="mb-4">Welcome Our Crown Hotel</h2>
						</div>
					</div>
					<div class="pb-md-5">
						<p>크라운 호텔에 방문해주신 모든 투숙객, 이용객 분들께 감사의 인사를 드립니다. 저희 크라운 호텔은 투숙객,
							이용객 분들을 위하여 항상 최선을 다할 것을 약속 드립니다. 또한 이용 중 불편하신 사항은 곧바로 처리
							도와드리겠습니다.</p>
						<p>
							저희 크라운 호텔은 최고의 시설과 최고의 직원들로 이루어져 있으며 수영장, 골프장, 헬스장과 더불어 국내 최고의
							호텔이며 저희 크라운 호텔은 항상 투숙객, 이용객님들의 의견을 존중합니다.<br> 언제나 저희 크라운 호텔
							시설을 이용해주셔서 감사합니다. 앞으로 더 좋은 시설과 매너로 투숙객, 이용객 분들의 사용에 완벽을 추구하겠습니다.
						</p>
						<ul class="ftco-social d-flex">
							<li class="ftco-animate"><a href="#"><span
									class="icon-twitter"></span></a></li>
							<li class="ftco-animate"><a href="#"><span
									class="icon-facebook"></span></a></li>
							<li class="ftco-animate"><a href="#"><span
									class="icon-google-plus"></span></a></li>
							<li class="ftco-animate"><a href="#"><span
									class="icon-instagram"></span></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- END nav -->

	<div class="hero-wrap" style="background-image: url('images/bg_1.jpg')">
		<div class="overlay"></div>
		<div class="container">
			<div
				class="row no-gutters slider-text d-flex align-itemd-end justify-content-center">
				<div
					class="col-md-9 ftco-animate text-center d-flex align-items-end justify-content-center">
					<div class="text">
						<p class="breadcrumbs mb-2"
							data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">
							<span class="mr-2"><a href="index.html">Home</a></span> <span
								class="mr-2"><a href="blog.html">블로그</a></span> <span>Blog
								Single</span>
						</p>
						<h1 class="mb-4 bread">블로그 후기</h1>
					</div>
				</div>
			</div>
		</div>
	</div>

	<section class="ftco-section ftco-degree-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 ftco-animate order-md-last">
					<h2 class="mb-3">#1. 크라운 호텔의 장점</h2>
					<p>
						크라운 호텔은 정말 놀라울 정도로 멋지고 화려하고 세련된 곳이다. <br> 이 곳에 장기투숙을 해보면서
						느낀점은 직원들이 한결같다는 점이다. <br> 여러 호텔을 다녀봤지만 이렇게 한결같은 호텔은 처음이다. 정말
						훌륭하다. <br> 여러분들께 이 호텔에 숙박하는걸 추천 드립니다. 최고의 크라운 호텔.
					</p>
					<p>
						<img src="images/image_7.jpg" alt="" class="img-fluid" />
					</p>
					<p>
						이 호텔의 최그이 장점은 시설에서도 명확하다. <br> 수영장은 두 말 할거 없이 최고의 시설 이다. 키즈존이
						있는것이 포인트다. <br> 헬스장은 왠만한 헬스장 3개 이상을 붙여놓은 크기이며 기구가 다양하다. <br>
						레스토랑은 최고의 쉐프들이 조리해주는 음식을 먹어서 가격대비 맛이 매우 훌륭하다. <br> 골프장은 1만
						여평이라 대기나 이런거 없이 원하는 만큼 칠 수 있어서 매우 만족한다.<br> 여러분들도 이 시설들을
						이용해보기를 바랍니다.
					</p>
					<h2 class="mb-3 mt-5">#2. 크라운 호텔만의 차별화</h2>
					<p>
						크라운 호텔만의 차별화가 무엇이 있는지 알려드리겠습니다.<br> 크라운 호텔은 최고의 세탁시설에서 투숙객님들의
						잠자리가 편한하도록<br> 최고의 시설에서 직접 침구류 세탁 건조 및 청결에 신경을 많이 씁니다.<br>
						또 투숙객, 이용객님들의 의견을 존중하고 따르며 그 즉시 해결하도록<br> 직원 교육과 더불어 모든 직원이
						항상 친절을 습관화 하여 고객님들에게<br> 다가가고 소통하고 있습니다.
					</p>
					<p>
						<img src="images/image_8.jpg" alt="" class="img-fluid" />
					</p>
					<p>
						투숙객님들의 편안한 여행이 되시도록<br> 저희 크라운 호텔은 다른 호텔들과 달리<br> 최대한
						투숙객님들의 입장에서 생각하고 행동하며<br> 에러사항이 발생 시 최대한 빠른 처리를 도와드리고 <br>
						있습니다. 또 희망 시 공항까지 투숙객님들을 태워드리는<br> 서비스까지 진행중이니 많은 관심
						부탁드리겠습니다.
					</p>
					<p>
						크라운 호텔 투숙객 이벤트<br> 크라운 호텔은 한 달에 한 번 투숙객님들께<br> 추첨권을 드려
						당첨된 분들게 시설 이용료 없이<br> 시설을 이용할 수 있는 쿠폰을 제공해 드리고 있습니다.<br>
						저희 크라운 호텔 투숙객님들이면 다 추첨권을 드리니 투숙객님들<br> 추첨권 뽑기도 많은 관심
						부탁드리겠습니다.
					</p>
					<p>
						크라운 호텔 이용객 이벤트<br> 크라운 호텔은 한 달에 한 번 이용객님들께<br> 추첨권을 드려
						당첨된 분들께 시설 이용료를 50%<br> 할인 된 가격에 이용하실 수 있는 쿠폰을 제공해드립니다.<br>
						저희 크라운 호텔 시설을 이용하시는 이용객님들께는 추첨권을 드리니<br> 이용객분들 추첨권 뽑기에 많은 관심
						부탁드리겠습니다.
					</p>
					<p>
						추가로 골프장 이용객 분들께 알려드립니다.<br> 골프장 이용객 분들께 한해서 현재 골프장 장비<br>
						세트를 무료로 드리고 있습니다. <br> 선착순 100분에게 드리는 만큼 만약 골프장 이용객분들 중<br>
						관심 있으신 분은 안내 데스크로 와 확인 한 번씩 부탁드리겠습니다.<br> 저희 크라운 호텔을 이용해주셔서
						감사합니다.
					</p>
					<div class="tag-widget post-tag-container mb-5 mt-5">
						<div class="tagcloud">
							<a href="#" class="tag-cloud-link">쿠폰</a> <a href="#"
								class="tag-cloud-link">이벤트</a> <a href="#"
								class="tag-cloud-link">장점</a> <a href="#" class="tag-cloud-link">차별화</a>
						</div>
					</div>

					<div class="about-author d-flex p-4 bg-light">
						<div class="bio align-self-md-center mr-4">
							<img src="images/person_1.jpg" alt="Image placeholder"
								class="img-fluid mb-4" />
						</div>
						<div class="desc align-self-md-center">
							<h3>Linda John</h3>
							<p>
								이 호텔에 묵는 동안 정말 행복한 기억 밖에 없습니다 모든 직원들은 저를 위해서 서비스까지 친절하게 해주시고 정말
								여기에 묵는 동안 좋은 기억만 가지고 가는거 같습니다.<br> 크라운 호텔 화이팅 !
							</p>
						</div>
					</div>

					<div class="pt-5 mt-5">
						<h3 class="mb-5">6 댓글</h3>
						<ul class="comment-list">
							<li class="comment">
								<div class="vcard bio">
									<img src="images/person_1.jpg" alt="Image placeholder" />
								</div>
								<div class="comment-body">
									<h3>Peter Parker</h3>
									<div class="meta">Febuary 2, 2024 at 2:21pm</div>
									<p>이 크라운 호텔은 그냥 상상하시는 그 이상의 호텔입니다. 여러분들도 이 크라운 호텔에 와서 그 이상의
										서비스를 받아보세요. 여러분들이 이 호텔에 묵는 동안 최고의 시설과 서비스를 느낄 수 있습니다. 크라운 호텔
										화이팅. 궁금하신 분 댓글 남겨주세요 !</p>
									<p>
										<a href="#" class="reply">Reply</a>
									</p>
								</div>
							</li>

							<li class="comment">
								<div class="vcard bio">
									<img src="images/person_1.jpg" alt="Image placeholder" />
								</div>
								<div class="comment-body">
									<h3>John Cena</h3>
									<div class="meta">Febuary 2, 2024 at 2:21pm</div>
									<p>크라운 호텔에 묵고 싶은데 가격대가 원래 이렇게 비싼건지 물어보고 싶다. 이 가격을 내고 이 호텔에
										묵는것이 좋은 선택 인가요. 혹시 투숙해보신적 있으시다면 댓글로 한 번 알려주세요! 이 호텔은 무슨 호텔인가요?
									</p>
									<p>
										<a href="#" class="reply">Reply</a>
									</p>
								</div>

								<ul class="children">
									<li class="comment">
										<div class="vcard bio">
											<img src="images/person_1.jpg" alt="Image placeholder" />
										</div>
										<div class="comment-body">
											<h3>Peter Parker</h3>
											<div class="meta">Febuary 3, 2024 at 2:21pm</div>
											<p>이 호텔은 국내 최고의 호텔이다 이 가격 그 이상의 서비스와 좋은 경험을 할 수 있는 호텔이다.
												이 안의 시설들도 이용해보면 정말 좋은 인생 경험이 될 수 있다. 어서 고민하지 말고 이 호텔에 투숙 해봐
												!</p>
											<p>
												<a href="#" class="reply">Reply</a>
											</p>
										</div>

										<ul class="children">
											<li class="comment">
												<div class="vcard bio">
													<img src="images/person_1.jpg" alt="Image placeholder" />
												</div>
												<div class="comment-body">
													<h3>John Cena</h3>
													<div class="meta">Febuary 10, 2024 at 2:21pm</div>
													<p>고마워! 당신 말을 듣고 이 호텔을 비싸지만 예약해서 지내봤는데 지내는 내내 정말 직원들의
														서비스 또 에러사항에 대한 대처도 되게 훌륭한 호텔이였어 이 가격 그 이상의 호텔이였는데 정말 좋은
														호텔인거 같아 !</p>
													<p>
														<a href="#" class="reply">Reply</a>
													</p>
												</div>

												<ul class="children">
													<li class="comment">
														<div class="vcard bio">
															<img src="images/person_1.jpg" alt="Image placeholder" />
														</div>
														<div class="comment-body">
															<h3>Peter Parker</h3>
															<div class="meta">Febuary 11, 2024 at 2:21pm</div>
															<p>봐봐 ㅋㅋㅋㅋㅋ 내 말이 맞잖아 정말 이 호텔은 끝내주는 호텔이야 가격을 신경쓰고 갔지만
																나도 가격 그 이상의 호텔이라 나올때 돈이 아까운 줄 몰랐어 크라운 호텔에 이벤트도 많아서 좋아!</p>
															<p>
																<a href="#" class="reply">Reply</a>
															</p>
														</div>
													</li>
												</ul>
											</li>
										</ul>
									</li>
								</ul>
							</li>

							<li class="comment">
								<div class="vcard bio">
									<img src="images/person_1.jpg" alt="Image placeholder" />
								</div>
								<div class="comment-body">
									<h3>Angelina Jelly</h3>
									<div class="meta">Febuary 20, 2024 at 2:21pm</div>
									<p>우와 ! 이 호텔에 묵는 내내 최고의 서비스를 받는다고 아주 좋았어 이 가격에 이런 호텔은 어디서도
										못찾을거야 다들 나를 믿고 이 호텔을 예약해봐 상상 그 이상의 호텔이 될거야 !!!</p>
									<p>
										<a href="#" class="reply">Reply</a>
									</p>
								</div>
							</li>
						</ul>
						<!-- END comment-list -->

						<div class="comment-form-wrap pt-5">
							<h3 class="mb-5">후기</h3>
							<form action="#" class="p-5 bg-light">
								<div class="form-group">
									<label for="name">이름 *</label> <input type="text"
										class="form-control" id="name" />
								</div>
								<div class="form-group">
									<label for="email">이메일 *</label> <input type="email"
										class="form-control" id="email" />
								</div>
								<div class="form-group">
									<label for="website">웹사이트</label> <input type="url"
										class="form-control" id="website" />
								</div>

								<div class="form-group">
									<label for="message">내용 입력</label>
									<textarea name="" id="message" cols="30" rows="10"
										class="form-control"></textarea>
								</div>
								<div class="form-group">
									<input type="submit" value="후기 올리기"
										class="btn py-3 px-4 btn-primary" />
								</div>
							</form>
						</div>
					</div>
				</div>
				<!-- .col-md-8 -->
				<div class="col-lg-4 sidebar ftco-animate">
					<div class="sidebar-box">
						<form action="#" class="search-form">
							<div class="form-group">
								<span class="icon fa fa-search"></span> <input type="text"
									class="form-control" placeholder="검색 키워드 및 찾아볼 정보" />
							</div>
						</form>
					</div>
					<div class="sidebar-box ftco-animate">
						<div class="categories">
							<h3>카테고리</h3>
							<li><a href="#">특성 <span>(12)</span></a></li>
							<li><a href="#">홈 <span>(22)</span></a></li>
							<li><a href="#">집 <span>(37)</span></a></li>
							<li><a href="#">빌라 <span>(42)</span></a></li>
							<li><a href="#">아파트 <span>(14)</span></a></li>
							<li><a href="#">콘도 <span>(140)</span></a></li>
						</div>
					</div>

					<div class="sidebar-box ftco-animate">
						<h3>최근 블로그</h3>
						<div class="block-21 mb-4 d-flex">
							<a class="blog-img mr-4"
								style="background-image: url(images/image_1.jpg)"></a>
							<div class="text">
								<h3 class="heading">
									<a href="#">방문을 해봤는데, 방 소음 차단이 잘 되고 깨끗해 <br> 좋았습니다.
									</a>
								</h3>
								<div class="meta">
									<div>
										<a href="#"><span class="icon-calendar"></span> 12월 25,
											2023</a>
									</div>
									<div>
										<a href="#"><span class="icon-person"></span>크라운</a>
									</div>
									<div>
										<a href="#"><span class="icon-chat"></span> 21</a>
									</div>
								</div>
							</div>
						</div>
						<div class="block-21 mb-4 d-flex">
							<a class="blog-img mr-4"
								style="background-image: url(images/image_2.jpg)"></a>
							<div class="text">
								<h3 class="heading">
									<a href="#">이 방에서 지내본 결과 <br> 3박 4일 일정 동안 편하게 <br>
										잘 쉬다 갑니다.
									</a>
								</h3>
								<div class="meta">
									<div>
										<a href="#"><span class="icon-calendar"></span> 5월 12,
											2023</a>
									</div>
									<div>
										<a href="#"><span class="icon-person"></span> 호텔냠</a>
									</div>
									<div>
										<a href="#"><span class="icon-chat"></span> 17</a>
									</div>
								</div>
							</div>
						</div>
						<div class="block-21 mb-4 d-flex">
							<a class="blog-img mr-4"
								style="background-image: url(images/image_3.jpg)"></a>
							<div class="text">
								<h3 class="heading">
									<a href="#">여러분들의 휴가를 좀 더 <br> 재밌고 신나게 보낼 수 있 <br>
										는 방.
									</a>
								</h3>
								<div class="meta">
									<div>
										<a href="#"><span class="icon-calendar"></span> 4월 28,
											2023</a>
									</div>
									<div>
										<a href="#"><span class="icon-person"></span> 자연인</a>
									</div>
									<div>
										<a href="#"><span class="icon-chat"></span> 59</a>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="sidebar-box ftco-animate">
						<h3>Tag Cloud</h3>
						<div class="tagcloud">
							<a href="#" class="tag-cloud-link">친절</a> <a href="#"
								class="tag-cloud-link">매너</a> <a href="#" class="tag-cloud-link">음식</a>
							<a href="#" class="tag-cloud-link">달콤한</a> <a href="#"
								class="tag-cloud-link">맛있는</a> <a href="#"
								class="tag-cloud-link">화려한</a> <a href="#"
								class="tag-cloud-link">고급진</a> <a href="#"
								class="tag-cloud-link">편한</a>
						</div>
					</div>

					<div class="sidebar-box ftco-animate">
						<h3>단락</h3>
						<p>여러분들이 지내시는 기간 동안 몸과 마음 모두 편하게 지내시다가 가실 수 있는 그런 방 입니다. 크라운
							호텔만의 독창적인 방, 시설 어느 하나 빠지지 않는 작은 디테일까지 다른 호텔과 다른 차이를 보여드립니다.</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- .section -->
	<section class="instagram pt-5">
		<div class="container-fluid">
			<div class="row no-gutters justify-content-center pb-5">
				<div class="col-md-7 text-center heading-section ftco-animate">
					<h2>
						<span>Instagram</span>
					</h2>
				</div>
			</div>
			<div class="row no-gutters">
				<div class="col-sm-12 col-md ftco-animate">
					<a href="images/insta-1.jpg" class="insta-img image-popup"
						style="background-image: url(images/insta-1.jpg)">
						<div class="icon d-flex justify-content-center">
							<span class="icon-instagram align-self-center"></span>
						</div>
					</a>
				</div>
				<div class="col-sm-12 col-md ftco-animate">
					<a href="images/insta-2.jpg" class="insta-img image-popup"
						style="background-image: url(images/insta-2.jpg)">
						<div class="icon d-flex justify-content-center">
							<span class="icon-instagram align-self-center"></span>
						</div>
					</a>
				</div>
				<div class="col-sm-12 col-md ftco-animate">
					<a href="images/insta-3.jpg" class="insta-img image-popup"
						style="background-image: url(images/insta-3.jpg)">
						<div class="icon d-flex justify-content-center">
							<span class="icon-instagram align-self-center"></span>
						</div>
					</a>
				</div>
				<div class="col-sm-12 col-md ftco-animate">
					<a href="images/insta-4.jpg" class="insta-img image-popup"
						style="background-image: url(images/insta-4.jpg)">
						<div class="icon d-flex justify-content-center">
							<span class="icon-instagram align-self-center"></span>
						</div>
					</a>
				</div>
				<div class="col-sm-12 col-md ftco-animate">
					<a href="images/insta-5.jpg" class="insta-img image-popup"
						style="background-image: url(images/insta-5.jpg)">
						<div class="icon d-flex justify-content-center">
							<span class="icon-instagram align-self-center"></span>
						</div>
					</a>
				</div>
			</div>
		</div>
	</section>
</th:block>

<th:block layout:fragment="script">

	<script src="js/jquery.min.js"></script>
	<script src="js/jquery-migrate-3.0.1.min.js"></script>
	<script src="js/popper.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/jquery.easing.1.3.js"></script>
	<script src="js/jquery.waypoints.min.js"></script>
	<script src="js/jquery.stellar.min.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/jquery.magnific-popup.min.js"></script>
	<script src="js/aos.js"></script>
	<script src="js/jquery.animateNumber.min.js"></script>
	<script src="js/bootstrap-datepicker.js"></script>
	<script src="js/jquery.timepicker.min.js"></script>
	<script src="js/scrollax.min.js"></script>
	<script
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
	<script src="js/google-map.js"></script>
	<script src="js/main.js"></script>

</th:block>

</html>
