<html layout:decorate="~{admin_layout}">


<th:block layout:fragment="content">
	<!-- Begin Page Content -->
	<div class="container-fluid">
		<!-- Page Heading -->
		<h1 class="h3 mb-2 text-gray-800">방 정보 리스트</h1>
		<p class="mb-4">
			DataTables is a third party plugin that is used to generate the demo
			table below. For more information about DataTables, please visit the
			<a target="_blank" href="https://datatables.net">official
				DataTables documentation</a>.
		</p>

		<!-- DataTales Example -->
		<div class="card shadow mb-4">
			<div class="card-header py-3">
				<h6 class="m-0 font-weight-bold text-primary">방 리스트</h6>
			</div>
			<div class="card-body">
				<div class="table-responsive">
					<table class="table table-bordered" width="100%" cellspacing="0">
						<thead>
							<tr>
								<th>방 번호</th>
								<th>방 이름</th>
								<th>방 유형</th>
								<th>방 호수</th>
								<th>방 가격</th>
								<th>예약 가능 여부</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="room, loop:${paging}">
			<td><a th:href="@{|/roomDetail/${room.rid}| }"
				th:text="${room.rid}"> </a></td>

			<td><span th:if="${room.rname != null}"
				th:text="${room.rname}"> </span></td>

			<td><span th:if="${room.rtype != null}"
				th:text="${room.rtype}"> </span></td>
				
							<td><span th:if="${room.rnum != null}"
				th:text="${room.rnum}"> </span></td>
				
							<td><span th:if="${room.rprice != null}"
				th:text="${room.rprice}"> </span></td>
				
							<td><span th:if="${room.rstatus != null}"
				th:text="${room.rstatus}"> </span></td>
								
							</tr>
						</tbody>
					</table>
					
        <a th:href="@{/createRoom}"          	
         th:text ="생성"
         class="btn btn-dark">          	
	    </a>

					<!-- 페이징처리 시작 -->
					<div th:if="${!paging.isEmpty()}">
						<ul class="pagination justify-content-center">
							<li class="page-item"
								th:classappend="${!paging.hasPrevious} ? 'disabled'"><a
								href="javascript:void(0)" class="page-link"
								th:href="@{|?page=${paging.number-1}|}"> <span>이전</span>
							</a></li>

							<!-- 조건을 적용해서 현재 페이지에서 이전 5개 이후 5개  -->
							<li th:each="page: ${#numbers.sequence(0, paging.totalPages-1)}"
								th:if="${page >= paging.number-5 and page <= paging.number+5 }"
								th:classappend="${page == paging.number} ? 'active'"
								class="page-item"><a th:text="${page}" class="page-link"
								th:href="@{|?page=${page}|}"></a></li>
							<li class="page-item"
								th:classappend="${!paging.hasNext} ? 'disabled'"><a
								class="page-link" th:href="@{|?page=${paging.number+1}|}"> <span>다음</span>
							</a></li>
						</ul>
					</div>
					<!-- 페이징처리 끝 -->
				</div>
			</div>
		</div>
	</div>
	<!-- /.container-fluid -->
	<!-- End of Main Content -->

</th:block>

</html>
