<html layout:decorate="~{layout2}">

<th:block layout:fragment="content">

	<!-- END nav -->
	<section class="home-slider owl-carousel">
		<div class="slider-item"
			style="background-image: url(images/view\(1\).jpg)">
			<div class="overlay"></div>
			<div class="container">
				<div
					class="row no-gutters slider-text align-items-center justify-content-center">
					<div class="col-md-12 ftco-animate text-center">
						<div class="text mb-5 pb-3 p111">
							<h1 class="p111 cinzel">CROWN HOTEL에 오신 것을 환영합니다</h1>
							<h2 class="noto-sans">호텔 및 리조트</h2>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="slider-item"
			style="background-image: url(images/view\(2\).jpg)">
			<div class="overlay"></div>
			<div class="container">
				<div
					class="row no-gutters slider-text align-items-center justify-content-center">
					<div class="col-md-12 ftco-animate text-center">
						<div class="text mb-5 pb-3">
							<h1 class="p111 cinzel">CROWN HOTEL에 오신 것을 환영합니다</h1>
							<h2 class="noto-sans">우리와 함께하세요</h2>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="slider-item"
			style="background-image: url(images/view\(3\).jpg)">
			<div class="overlay"></div>
			<div class="container">
				<div
					class="row no-gutters slider-text align-items-center justify-content-center">
					<div class="col-md-12 ftco-animate text-center">
						<div class="text mb-5 pb-3">
							<h1 class="p111 cinzel">CROWN HOTEL에 오신 것을 환영합니다</h1>
							<h2 class="noto-sans">최고의 시설, 매너</h2>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="slider-item"
			style="background-image: url(images/view\(4\).jpg)">
			<div class="overlay"></div>
			<div class="container">
				<div
					class="row no-gutters slider-text align-items-center justify-content-center">
					<div class="col-md-12 ftco-animate text-center">
						<div class="text mb-5 pb-3">
							<h1 class="p111 cinzel">CROWN HOTEL에 오신 것을 환영합니다</h1>
							<h2 class="noto-sans">차별화된 호텔</h2>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<br>
	<br>
	<br>
	<br>


	<section class="ftco-section bg-light">
		<div class="container">
			<div class="row justify-content-center mb-5 pb-3">
				<div class="col-md-7 heading-section text-center ftco-animate">
					<h2 class="mb-4">우리의 객실</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-sm col-md-6 col-lg-4 ftco-animate">
					<div class="room">
						<a th:href="@{/room_classic}"
							class="img d-flex justify-content-center align-items-center"
							style="background-image: url(images/room-1.jpg)">
							<div
								class="icon d-flex justify-content-center align-items-center">
								<span class="icon-search2"></span>
							</div>
						</a>
						<div class="text p-3 text-center">
							<h3 class="mb-3">
								<a th:href="@{/room_classic}" class="cinzel">Classic</a>
							</h3>
							&nbsp;
							<p>
								<span class="price mr-2 cinzel">$ &nbsp;1,200</span> <span
									class="per">하룻밤당</span>
							</p>
							<hr />
							<p class="pt-1">
								<a th:href="@{/room_classic}" class="btn-custom">객실 정보 보기 <span
									class="icon-long-arrow-right"></span></a>
							</p>
						</div>
					</div>
				</div>
				<div class="col-sm col-md-6 col-lg-4 ftco-animate">
					<div class="room">
						<a th:href="@{/room_deluxe}"
							class="img d-flex justify-content-center align-items-center"
							style="background-image: url(images/room-2.jpg)">
							<div
								class="icon d-flex justify-content-center align-items-center">
								<span class="icon-search2"></span>
							</div>
						</a>
						<div class="text p-3 text-center">
							<h3 class="mb-3">
								<a th:href="@{/room_deluxe}" class="cinzel">Deluxe </a>
							</h3>
							&nbsp;
							<p>
								<span class="price mr-2 cinzel">$ &nbsp;2,000</span> <span
									class="per">하룻밤당</span>
							</p>
							<hr />
							<p class="pt-1">
								<a th:href="@{/room_deluxe}" class="btn-custom">객실 정보 보기 <span
									class="icon-long-arrow-right"></span></a>
							</p>
						</div>
					</div>
				</div>
				<div class="col-sm col-md-6 col-lg-4 ftco-animate">
					<div class="room">
						<a th:href="@{/room_family}"
							class="img d-flex justify-content-center align-items-center"
							style="background-image: url(images/room-3.jpg)">
							<div
								class="icon d-flex justify-content-center align-items-center">
								<span class="icon-search2"></span>
							</div>
						</a>
						<div class="text p-3 text-center">
							<h3 class="mb-3">
								<a th:href="@{/room_family}" class="cinzel">Family</a>
							</h3>
							&nbsp;
							<p>
								<span class="price mr-2 cinzel">$ &nbsp;15,000</span> <span
									class="per">하룻밤당</span>
							</p>
							<hr />
							<p class="pt-1">
								<a th:href="@{/room_family}" class="btn-custom">객실 정보 보기 <span
									class="icon-long-arrow-right"></span></a>
							</p>
						</div>
					</div>
				</div>
				<div class="col-sm col-md-6 col-lg-4 ftco-animate">
					<div class="room">
						<a th:href="@{/room_superior}"
							class="img d-flex justify-content-center align-items-center"
							style="background-image: url(images/room-4.jpg)">
							<div
								class="icon d-flex justify-content-center align-items-center">
								<span class="icon-search2"></span>
							</div>
						</a>
						<div class="text p-3 text-center">
							<h3 class="mb-3">
								<a th:href="@{/room_superior}" class="cinzel">Superior</a>
							</h3>
							&nbsp;
							<p>
								<span class="price mr-2 cinzel">$ &nbsp;13,000</span> <span
									class="per">하룻밤당</span>
							</p>
							<hr />
							<p class="pt-1">
								<a th:href="@{/room_superior}" class="btn-custom">객실 정보 보기 <span
									class="icon-long-arrow-right"></span></a>
							</p>
						</div>
					</div>
				</div>
				<div class="col-sm col-md-6 col-lg-4 ftco-animate">
					<div class="room">
						<a th:href="@{/room_suite}"
							class="img d-flex justify-content-center align-items-center"
							style="background-image: url(images/room-5.jpg)">
							<div
								class="icon d-flex justify-content-center align-items-center">
								<span class="icon-search2"></span>
							</div>
						</a>
						<div class="text p-3 text-center">
							<h3 class="mb-3">
								<a th:href="@{/room_suite}" class="cinzel">Suite</a>
							</h3>
							&nbsp;
							<p>
								<span class="price mr-2 cinzel">$ &nbsp;30,000</span> <span
									class="per">하룻밤당</span>
							</p>
							<hr />
							<p class="pt-1">
								<a th:href="@{/room_suite}" class="btn-custom">객실 정보 보기 <span
									class="icon-long-arrow-right"></span></a>
							</p>
						</div>
					</div>
				</div>
				<div class="col-sm col-md-6 col-lg-4 ftco-animate">
					<div class="room">
						<a th:href="@{/room_luxury}"
							class="img d-flex justify-content-center align-items-center"
							style="background-image: url(images/room-6.jpg)">
							<div
								class="icon d-flex justify-content-center align-items-center">
								<span class="icon-search2"></span>
							</div>
						</a>
						<div class="text p-3 text-center">
							<h3 class="mb-3">
								<a th:href="@{/room_luxury}" class="cinzel">Luxury</a>
							</h3>
							&nbsp;
							<p>
								<span class="price mr-2 cinzel">$ &nbsp;50,000</span> <span
									class="per">하룻밤당</span>
							</p>
							<hr />
							<p class="pt-1">
								<a th:href="@{/room_luxury}" class="btn-custom">객실 정보 보기 <span
									class="icon-long-arrow-right"></span></a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</th:block>


</html>